html, body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

body {

    &.blue-theme { 
        background-color: #e3f2fd; 
    }
    &.green-theme { 
            background-color: #e8f5e8; 
    }
    &.red-theme { 
        background-color: #ffebee; 
    }
    nav {
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;

            &:hover {
                color: #0066cc;
            }

        }
        

    }

    background-color: white;
    padding: 30px;
    border-radius: 10px;

    p {
        font-size: 18px;
        line-height: 1.6;
    }

    img {
        max-width: 30%;
        height: auto;
        display: block;    
        margin: 0 auto;   
        border-radius: 10px;
        border: #0066cc;
       }
    
    .hobbies-list {
        margin-top: 20px;
        font-size: 18px;
        margin-left: 30px;

        li {
            margin-bottom: 10px;
        }
    }
}

